{%- from 'partials/partials-50.j2' import render as arrangement_mailer_webpush_body with context -%}
{%- set body_params = dict(requested_products= requested_products, arrangement= arrangement) -%}
{%- if(site is defined) -%}
{%- do body_params.update({'site': site}) -%}
{%- endif -%}
【{{arrangement.type_text}} - 新規】{{ arrangement_mailer_webpush_body(locals = body_params) }} <社内>